body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    /* margin: auto; */
  }

  img {
    border-radius: 50%;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 15px;}
  .bg-1 { 
    background-color: #6d9eeb; /* Blue */
    color: #ffffff;
    padding-left: 350px;
    padding-right: 350px;
    text-align: center
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #999999; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 5px;
  }
  .navbar-brand {
    color: #474e5d !important;
    text-align: left
  }

  span.a {
    display: inline-block; /* the default for span */
    width: 350px;
    height: 25px;
    padding: 10px;
    text-align: center
  }
  
  span.b {
    display: inline-block;
    width: 350px;
    height: 25px;
    padding: 10px;
    text-align: center
  }
  
  span.c {
    display: inline-block;
    width: 250px;
    height: 25px;
    padding: 10px;
    text-align: center
  }

  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  
