h1 {
    font-size: 50px;
    text-align: center;
    font-family: "futura";
}

body {
    position: absolute;
    justify-content: center;
    text-align: center;
    font-family: "futura";
    /* top: 5%; */
    left: 12.5%
}