<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>D3 Nichelle Audrey</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>  
  </head>


  <body>
    <!-- Navbar -->
    <nav class = "navbar navbar-default">
      <div class = "container">
        <div class = "navbar-header">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        <a class="navbar-brand" href="#">DNA: The Building Blocks of Life</a>
      </div>
    </div>
  </nav>

    <!-- First Container -->
    <div class = "container-fluid bg-1 text-justify">
      <h3 class = "margin">Who am I?</h3>
      <a href="https://www.youtube.com/watch?v=qUaFYzFFbBU">
        <img src = "https://vignette.wikia.nocookie.net/jurassicpark/images/1/17/1-extraction-mr-dna.png/revision/latest?cb=20150202214403" class = "img-responsive img-circle margin" style="display:inline" alt="DNA" width="350" height="350">
      </a>
      <p>If you've seen Jurassic Park, this guy should look familiar to you!
        <br>This is Mr. DNA, and he is responsible for making you, you.
        <br>If you didn't know, DNA stands for <b><u>D</b></u>eoxyribo<b><u>N</b></u>ucleic <b><u>A</u></b>cid 
      </p>
    </div>


    <div class = "container-fluid bg-2 text-center">
      <span><h3 class = "margin">A, C, G, & T</h3><h5>...and U</h5></span>

           <div class = "container">
            <select id="selectpicker" id="selectaa">
              <option selected value="Isoleucine">Isoleucine</option>
              <option selected value="Leucine">Leucine</option>
              <option selected value="Valine">Valine</option>
              <option selected value="Methionine">Methionine</option>
              <option selected value="Glycine">Glycine</option>
              <option selected value="Alanine">Alanine</option>
              <option selected value="Serine">Serine</option>
              <option selected value="Threonine">Threonine</option>
              <option selected value="Cysteine">Cysteine</option>
              <option selected value="Proline">Proline</option>
              <option selected value="Asparagine">Asparagine</option>
              <option selected value="AsparticAcid">Aspartic Acid</option>
              <option selected value="selectfrom">Select Amino Acid</option>
            </div>
         </tr>
         <tr valign=top>
            <td>

  </body>
</html>




