<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


    <title>D3.Nichelle.Audrey</title>
  </head>
  <body>
    <h1>Transcription & Translation of DNA into <br>Amino Acid Structures</h1>
    <br>
    <br>
    <form>
      <table>
         <tr>
           <div class = "container">
             
                <td>
                  DNA sequence:<br>
                  <textarea name=geneString rows=10 cols=40></textarea><br>
                </td>
                <td>
                  <input type=button value="transcribe" ><br>
                </td>
                <td>
                  RNA sequence:<br>
                  <textarea name=messageString rows=10 cols=40></textarea><br>
                </td>
                <td>
                  <input type=button value="translate"><br>
                </td>
                <td>
                  Protein sequence:<br>
                  <textarea  name=proteinString rows=10 cols=40></textarea><br>
                </td>
            </div>
         </tr>
         <tr valign=top>
            <td>

  </body>
</html>




