<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


    <title>D3.Nichelle.Audrey</title>
  </head>
  <body>
    <h1>DNA: The Building Blocks of Life</h1>
    <br>
      <h3>Did you know life is based on A, G, T, and C?</h3>
        <p></p>
         <tr>
           <div class = "container">
            <select id="selectpicker" id="selectaa">
              <option selected value="Isoleucine">Isoleucine</option>
              <option selected value="Leucine">Leucine</option>
              <option selected value="Valine">Valine</option>
              <option selected value="Methionine">Methionine</option>
              <option selected value="Glycine">Glycine</option>
              <option selected value="Alanine">Alanine</option>
              <option selected value="Serine">Serine</option>
              <option selected value="Threonine">Threonine</option>
              <option selected value="Cysteine">Cysteine</option>
              <option selected value="Proline">Proline</option>
              <option selected value="Asparagine">Asparagine</option>
              <option selected value="AsparticAcid">Aspartic Acid</option>
              <option selected value="selectfrom">Select Amino Acid</option>
            </div>
         </tr>
         <tr valign=top>
            <td>

  </body>
</html>




